@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Marcellus&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Marcellus&display=swap");
.footer-cp .copyright, .footer-cp i {
  display: flex;
  justify-content: center;
}

/* Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Generales */
html {
  scroll-behavior: smooth;
}

.disclaimer {
  display: none;
}

/*botones*/
.boton-contacto {
  padding: 8px 24px;
  background-color: #FFFFFF;
  color: #000000;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.boton-contacto:hover {
  background-color: #303030;
  color: #FFFFFF;
}

.btn-whatsapp {
  display: block;
  width: 60px;
  height: 60px;
  position: fixed;
  right: 20px;
  bottom: 20px;
  border-radius: 50%;
  line-height: 70px;
  text-align: center;
  z-index: 999;
  /* Tablet */
  /* Mobile */
}
@media screen and (max-width: 980px) and (min-width: 481px) {
  .btn-whatsapp {
    width: 50px;
    height: 50px;
    line-height: 60px;
  }
}
@media screen and (max-width: 400px) {
  .btn-whatsapp {
    width: 50px;
    height: 50px;
    line-height: 60px;
  }
}

/*encabezados*/
/*encabezados*/
.footer-cp .copyright, .footer-cp i {
  display: flex;
  justify-content: center;
}

/*botones*/
.boton-contacto {
  padding: 8px 24px;
  background-color: #FFFFFF;
  color: #000000;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.boton-contacto:hover {
  background-color: #303030;
  color: #FFFFFF;
}

.btn-whatsapp {
  display: block;
  width: 60px;
  height: 60px;
  position: fixed;
  right: 20px;
  bottom: 20px;
  border-radius: 50%;
  line-height: 70px;
  text-align: center;
  z-index: 999;
  /* Tablet */
  /* Mobile */
}
@media screen and (max-width: 980px) and (min-width: 481px) {
  .btn-whatsapp {
    width: 50px;
    height: 50px;
    line-height: 60px;
  }
}
@media screen and (max-width: 400px) {
  .btn-whatsapp {
    width: 50px;
    height: 50px;
    line-height: 60px;
  }
}

@font-face {
  font-family: Inter-accion;
  src: url(../Tipografias/Inter/static/Inter-SemiBold.ttf);
}
@font-face {
  font-family: Inter-parrafos;
  src: url(../Tipografias/Inter/static/Inter-ExtraLight.ttf);
}
.footer-cp {
  background-color: black;
}
.footer-cp h3 {
  color: #FFFFFF;
  font-family: "Marcellus", serif;
  font-size: 30px;
}
.footer-cp ul {
  display: inline;
}
.footer-cp ul li {
  list-style: none;
}
.footer-cp ul li a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #FFFFFF;
  font-size: 18px;
}
.footer-cp ul li a:hover {
  font-size: 22px;
  color: aqua;
}
.footer-cp ul li a p {
  font-family: "Inter-parrafos";
  padding: 14px 0px 0px 20px;
}
.footer-cp i img {
  align-items: center;
  padding: 10px 0px 20px 0px;
}
.footer-cp .copyright {
  font-family: "Inter-parrafos";
  color: #FFFFFF;
  font-size: 14px;
}
.footer-cp .mapa {
  display: flex;
  justify-content: flex-end;
  padding: 20px 0px;
  /* Tablet */
  /* Mobile */
}
@media screen and (max-width: 980px) and (min-width: 481px) {
  .footer-cp .mapa {
    justify-content: center;
  }
}
@media screen and (max-width: 400px) {
  .footer-cp .mapa {
    justify-content: center;
  }
}

.p-header-carousel {
  font-family: "Marcellus", serif;
  font-size: 12;
  color: white;
}

.nav-tipo {
  font-family: "Marcellus", serif;
  /*puse important porque desde inspeccionar no encontré como modificar el padding por defecto de bootstrap*/
  margin: 1.5rem !important;
}

/* Sidebar en el carousel*/
.redes-carousel {
  height: 900px;
  width: 210px;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 100px;
  background: black;
  background: rgba(0, 0, 0, 0.7);
  overflow-x: hidden;
  padding-top: 100px;
}

/* Style sidebar links */
.redes-carousel a {
  transform: rotate(-90deg);
  padding: 80px 8px 80px 16px;
  font-family: "Marcellus", serif;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
}

/* Style links on mouse-over */
.redes-carousel a:hover {
  color: #f1f1f1;
  text-decoration: underline;
}

/* Style the main content */
.main {
  margin-left: 160px;
  /* Same as the width of the sidenav */
  padding: 0px 10px;
}

/* Add media queries for small screens (when the height of the screen is less than 450px, add a smaller padding and font-size) */
@media screen and (max-height: 450px) {
  .redes-carousel {
    padding-top: 15px;
  }

  .redes-carousel a {
    font-size: 18px;
  }
}
.h2-centrado {
  text-align: center;
}

h4 {
  font-family: "Marcellus", serif;
}

.bordes-proyectos {
  border-radius: 2%;
}

.container {
  padding: 20px 0px;
}

h1, h2, h3 {
  font-family: "Marcellus", serif;
  color: #2f4f4f;
}

body, html {
  height: 100%;
}

/*overlay*/
.serv-contenedor {
  position: relative;
}

.pic-serv {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: 0.5s ease;
  backface-visibility: hidden;
  box-shadow: 0 8px 12px #797979;
}

.probandoverlay {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.serv-contenedor:hover .pic-serv {
  opacity: 0.3;
}

.serv-contenedor:hover .probandoverlay {
  opacity: 1;
}

.textoverlay {
  background-color: #111312;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}

p {
  font-family: "Inter-parrafos";
}

/*Boton de ver mas */
.pic-sobremi {
  border-radius: 50%;
}

.caja-boton {
  display: flex;
  justify-content: flex-end;
}

.botoncito {
  border: none;
  color: white;
  padding: 14px 28px;
  font-size: 16px;
  font-family: "Inter-accion";
  cursor: pointer;
}

.vermas {
  background-color: #2a2c2b;
}

.vermas:hover {
  background-color: #717771;
}

/*# sourceMappingURL=style.css.map */
