* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

/*Tipografias*/

@font-face {
  font-family: Literata-headers;
  src: url(Tipografias/Literata/static/Literata/Literata-ExtraLight.ttf);
}

@font-face {
  font-family: Inter-accion;
  src: url(Tipografias/Inter/static/Inter-SemiBold.ttf);
}

@font-face {
  font-family: Inter-parrafos;
  src: url(Tipografias/Inter/static/Inter-ExtraLight.ttf);
}

/*Variables*/

:root {
  /*Encabezados*/
  --size: 40px;
  --weight: 200px;
  --color: #2f4f4f;
  --padding: 30px;
}

.boton-contacto {
  padding: 8px 24px;
  background-color: #FFFFFF;
  color: #000000;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}
  
.boton-contacto:hover {
  background-color: #303030;
  color: #FFFFFF;
}

/* Hero */
.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("imagenes/probando-foto.jpeg");
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  }
  
  .hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  }

/*Boton de whats app*/
.btn-whatsapp {
  display: block;
  width: 70px;
  height: 70px;
  position: fixed;
  right: 20px;
  bottom: 20px;
  border-radius: 50%;
  line-height: 80px;
  text-align: center;
  z-index: 999;
}

/*Seccion servicios*/

h1 {
    color: var(--color);
    font-family: "Literata-headers";
    font-size: var(--size);
    font-weight: var(--peso);
    padding: var(--padding);
}

.fotos-servicios {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  flex-direction: row;
}

.servicito {
  padding: 50px 0px;
}
/*Seccion proyectos*/

h2 {
  color: var(--color);
  font-family: "Literata-headers";
  font-size: var(--size);
  font-weight: var(--peso);
  padding: var(--padding);
}

.fotos-proyectos {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  flex-direction: row;
}

/* Tablet */
@media screen and (max-width: 980px) and (min-width: 481px) {
  .fotos-proyectos {
      flex-direction: column;
  }    
}

/* Mobile */
@media screen and (max-width: 400px) {
  .fotos-proyectos {
      flex-direction: column;
  }
}

/*agregando una animacion*/

.box {
  border-radius: 6px;
  height: 40px;
  width: 80px;
  margin: 50px auto;
}

.box-one {
  background-color: aquamarine;
}

.box-two {
  background-color: blueviolet;
  /*para usar transiciones hay que agregar dos valores
  1- transition-property (a todo el elemento elemento -all- o se puede poner a un border pero gralmente se pone a todo el elemento)
  2- transition-duration (en tiempo) */
  /* transition-property: all;
  transition-duration: 2s; */
  transition: all 2s;
}

/*pseudo clase :hover */

.box:hover {
  /*transformacion / agregar un numero entero sin unidades de medida para modificar el elemento*/
  transform: scale(4);
}


/*Seccion sober mi*/

.grid-container {
  display: grid;
  /* border: 4px solid black; */
  grid-template-columns: 1fr 4fr;
  column-gap: 10px;
}

/* .grid-item {
  border: 2px solid black;
} */

/* Tablet */
@media screen and (max-width: 850px) and (min-width: 481px) {
  .grid-container {
      grid-template-columns: auto;
      grid-template-rows: auto auto;
  }    
  .first-item {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    display: flex;
    justify-content: center;
    
  }

  /* .foto-arquitecta {
    width: ;
  } */

  /*VER ESTO !!!!!!!!!*/
  
  .second-item {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }
}

/* Mobile */
@media screen and (max-width: 400px) {
  .fotos-proyectos {
      flex-direction: column;
  }
}

h3 {
  color: var(--color);
  font-family: "Literata-headers";
  font-size: 24px;
  padding-left: 10px;
}

p {
  font-family: "Inter-parrafos";
  padding: 10px 10px;
}

.btn {
  border: none;
  color: white;
  padding: 14px 28px;
  font-size: 16px;
  font-family: "Inter-accion";
  cursor: pointer;
}

.boton-vermas {
  display: flex;
  justify-content: flex-end;
  margin: 20px;
}

.vermas {
  background-color: #04AA6D;
} 

.vermas:hover {
  background-color: #46a049;
}

/*Footer*/

#contacto {
  background-color: lightsalmon;
}

.mapa {
  display: flex;
  justify-content: flex-end;
  margin: 20px;
}

i {
  display: flex;
  justify-content: center;
}