@import "../base/variables";
@import "../base/extends";
@import "../base/listas";
@import "../base/tipografias";

.footer-cp {
    margin-top: 20px;
    background-color: black;
    h3 {
        color: nth($colores, 1);
        @media screen and (max-width: 980px) {
            padding-top: 20px;
        }
    }
    .logo-contacto {
        font-size: 40px;
        color: nth($colores, 1);
        margin: 20px;
        @media screen and (max-width: 980px) {
            font-size: 32px;
        }
        &:hover{
                font-size: 48px;
                color: nth($colores, 2);
        }
    }
    ul {
        padding: 0px;
        li {
            list-style: none;
            padding: 8px 0px;
            a {
                text-decoration: none;
                color: nth($colores, 1);
                &:hover{
                    color: nth($colores, 2);
                }
                p {
                    display: inline;
                    font-family: $tipografia2;
                    padding-left: 8px;
                }
            }
        }
    }
    .div-pic-footer {
        @media screen and (max-width: 980px) {
            padding: 20px;
        }
    }
    .copyright {
        @extend %disposicion;
        font-family: $tipografia2;
        font-size: 14px;
        color: nth($colores, 2);
        padding-top: 20px;
        @media screen and (max-width: 980px) {
            text-align: center;
            padding-bottom: 20px;
        }
    }
}