@import "../base/variables";
@import "../base/extends";

@font-face {
    font-family: Literata-headers;
    src: url(../Tipografias/Literata/static/Literata/Literata-ExtraLight.ttf);
  }
  
  @font-face {
    font-family: Inter-accion;
    src: url(../Tipografias/Inter/static/Inter-SemiBold.ttf);
  }  

@font-face {
    font-family: Inter-parrafos;
    src: url(../Tipografias/Inter/static/Inter-ExtraLight.ttf);
  }

.footer-cp {
    background-color: khaki;
    h3 {
        // padding: $encabezado-padding;
        color: $encabezado-color;
        font-family: $encabezado-font;
        font-size: $encabezado-size;
    }
    ul {
        display: inline;
        li {
            list-style: none;
            a {
                text-decoration: none;
            }
        }
    }
    p {
        font-family: "Inter-parrafos";
    }
    i {
        @extend %disposicion;
        img {
            align-items: center;
            padding: 10px 0px 20px 0px;
        }
    }
    .copyright {
        @extend %disposicion;
        font-family: "Inter-parrafos";
        font-size: 14px;
    }
    .mapa {
        display: flex;
        justify-content: flex-end;
        padding: 20px 0px;
        /* Tablet */
        @media screen and (max-width: 980px) and (min-width: 481px) {
                justify-content: center;
        }
        /* Mobile */
        @media screen and (max-width: 400px) {
                justify-content: center;
        }
    }
}