@import "../base/variables";
@import "../base/extends";
@import "../base/listas";
@import "../base/tipografias";

.footer-cp {
    background-color: black;
    a {
        color: white;
    }
    h3 {
        text-align: center;
        color: nth($colores, 1);
        font-family: 'Marcellus', serif;
        font-size: 24px;
    }
    ul {
        li {
            list-style: none;    
            a {
                text-decoration: none;
                color: nth($colores, 1);
                font-size: 16px;
                &:hover {
                    font-size: 18px;
                    text-decoration: underline;
                    color: white;
                }
                p {
                    display: inline;
                    font-family: 'Inter', sans-serif;
                }
            }
        }
    }
    i {
        @extend %disposicion;
        img {
            align-items: center;
        }
    }
    .copyright {
        @extend %disposicion;
        font-family: 'Inter', sans-serif;
        color: nth($colores, 1);
        font-size: 14px;
    }
}