/*Nesting o anidamiento*/

@import "../base/variables";

header {
    background-color: $bg-color-general;
    @media screen and (max-width: 768px) {
        $background-color: khaki;
    }
    nav {
        ul {
            list-style: none;
            li {
                list-style: circle;
                a {
                    text-decoration: underline;
                    /* & sumar pseudoclases o pseudoelementos */
                    &:hover {
                        text-decoration: none;
                    }
                }
            }
        }
    }
}