.h2-centrado {
  text-align: center;
  padding-bottom: 20px;
}

.row-proyectos {
  padding-bottom: 20px;
}

.bordes-proyectos {
  border-radius: 8px;
}

h4 {
    font-family: 'Marcellus', serif;
}

.typo-proyectos{
  font-family: 'Marcellus', serif;
  font-size: 18px;
}