@import "../base/variables";

.h2-centrado {
  text-align: center;
}

.row-proyectos {
  padding-bottom: 20px;
}

.bordes-proyectos {
  border-radius: 8px;
}

h4 {
    font-family: $tipografia1;
    @media screen and (max-width: 980px) {
      padding-top: 20px;
    }
}

.typo-proyectos{
  font-family: $tipografia1;
  font-size: 18px;
}