/* Sección servicios */

@import "../base/tipografias";

.container {
    padding: 20px 0px;
      @media screen and (max-width: 980px) {
        padding: 0px 20px;
      }
    }
    
    h1, h2, h3 {
      font-family: $tipografia1;
      color: $encabezado-color;
      &::selection {
        background-color: nth($colores, 2);
        color: nth($colores, 1);
      }
    }
    
    body, html {
      height: 100%;
    }
    
    /*overlay*/
    .serv-contenedor {
      position: relative;
      padding-top: 20px;
      @media screen and (max-width: 980px) {
        padding-bottom: 20px;
      }
    }
    
    .pic-serv {
      @include overlay(1, block, 100%, auto, .5s ease, hidden, 0 8px 12px rgb(121, 121, 121))  
    }
    
    .probandoverlay {
      transition: .5s ease;
      opacity: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      text-align: center;
    }
    
    .serv-contenedor:hover .pic-serv {
      opacity: 0.3;
    }
    
    .serv-contenedor:hover .probandoverlay {
      opacity: 1;
    }
    
    .textoverlay {
      background-color: nth($colores, 3);
      color: nth($colores, 1);
      font-size: 16px;
      padding: 16px 32px;
    }
    
    p {
      font-family: $tipografia2;
    }

    .servicios-container {
      padding: 60px 0px;
      @media screen and (max-width: 980px) {
        padding: 40px 20px;
      }
    }