@import "../base/tipografias";

.container {
    padding: 20px 0px;
    }
    
    h1, h2, h3 {
      font-family: 'Marcellus', serif;
      font-size: $encabezado-size;
      font-weight: $encabezado-weight;
      color: $encabezado-color;
    }
    
    body, html {
      height: 100%;
    }
    
    /*overlay*/
    .serv-contenedor {
      position: relative;
    }
    
    .pic-serv {
      opacity: 1;
      display: block;
      width: 100%;
      height: auto;
      transition: .5s ease;
      backface-visibility: hidden;
      box-shadow: 0 8px 12px rgb(121, 121, 121);
    }
    
    .probandoverlay {
      transition: .5s ease;
      opacity: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      text-align: center;
    }
    
    .serv-contenedor:hover .pic-serv {
      opacity: 0.3;
    }
    
    .serv-contenedor:hover .probandoverlay {
      opacity: 1;
    }
    
    .textoverlay {
      background-color: #111312;
      color: white;
      font-size: 16px;
      padding: 16px 32px;
    }
    
    h3 {
      color: var(--color);
      font-family: "Literata-headers";
      font-size: 24px;
    }
    
    p {
      font-family: "Inter-parrafos";
    }