@import "../base/tipografias";

.pic-sobremi {
  border-radius: 50%;
  margin: 20px;
}

.p-sobremi {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
}

/*Boton de ver mas */

.caja-boton {
    display: flex;
    justify-content: flex-end;
  }
  
  .botoncito {
    border: none;
    color: white;
    padding: 14px 28px;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    cursor: pointer;
  }
  
  .vermas {
    background-color: hsl(150, 2%, 17%);
  }
  
  .vermas:hover {
    background-color: #717771;
  }