@import "../base/tipografias";

.div-sobremi {
  @media screen and (max-width: 980px) {
    display: flex;
    justify-content: center;
  }
}

.pic-sobremi {
  border-radius: 50%;
}

.h3-sobremi {
  &::selection {
    background-color: nth($colores, 2);
    color: nth($colores, 1);
  }
  @media screen and (max-width: 980px) {
    padding-top: 20px;
    &::selection {
      background-color: nth($colores, 2);
      color: nth($colores, 1);
    }
  }
}

.p-sobremi {
  padding-top: 10px;
  font-family: $tipografia2;
  font-weight: 400;
  &::selection {
    background-color: nth($colores, 2);
    color: nth($colores, 1);
  }
}

/*Boton de ver mas */

.caja-boton {
    display: flex;
    justify-content: flex-end;
  }
  
  .botoncito {
    border: none;
    color: nth($colores, 1);
    padding: 14px 28px;
    font-size: 16px;
    font-family: $tipografia1;
    cursor: pointer;
    &::selection {
      background-color: nth($colores, 2);
      color: nth($colores, 1);
    }
  }
  
  .vermas {
    background-color: hsl(150, 2%, 17%);
  }
  
  .vermas:hover {
    background-color: nth($colores, 4);
  }