/*colores de mi marca */

$niki-red: #900;
$niki-green: #090;

.borde-menu {
    border: 1px solid darken($niki-red, 20%);
}

.bg-products {
    background-color: $niki-green;

    &:hover {
        background-color: lighten($niki-green, 20%);
    }
}

.textos {
    color: rgba($niki-red, 0.8);
}

.section-loca {
    background-color: mix($niki-red, $niki-green);
}

.saturado {
    color: saturate($niki-red, 40%);
}