/*listas*/

$colores:
red,
yellow,
green,
blue,
black,
grey;

$size:
44px,
40px,
38px,
26px,
22px;

.unboton-ok {
    color: nth($colores, 3);
    font-size: nth($size, 3);
}

.unboton-cancel {
    color: nth($colores, 1);
}