/*mapas*/
/*a diferencia de las listas, me permiten crear como una lista pero de un monton de estilos agrupados que podria usar en una seccion entera*/

$header: (
    bg-header: black,
    list: circle,
    decoration: none,
    border-header: 2px solid black,
)